<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rosie</title>
    <style media="screen">
      .status,
      [value="True"],
      [value="False"] {
        text-align: center;
      }

      [value="True"] {
        border-bottom: 1px solid green;
      }

      .ranking-table {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <table class="ranking-table">
      <thead>
        <tr>
          <th>Status</th>
          {% for column in columns.values() %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in ranking %}
          <tr>
            <td class="status">
              {% if line['status'] %}
                <button type="button"
                        name="button"
                        class="change-status-btn"
                        data-document-id="{{ line['document_id'] }}"
                        data-status="false_positive">
                  Falso positivo
                </button>
              {% else %}
                <button type="button"
                        name="button"
                        class="change-status-btn audit-btn"
                        data-document-id="{{ line['document_id'] }}"
                        data-status="under_investigation">
                  Auditar
                </button>
              {% endif %}
            </td>
            {% for column in columns.keys() %}
              <td value="{{ line[column] }}">
                {% if column == 'url' %}
                  <a href="{{ line[column] }}" target="_blank">Link</a>
                {% else %}
                  {{ line[column] }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $('.change-status-btn').click(function(event) {
    var target = event.target;
    $.post('/ranking', {
      document_id: target.getAttribute('data-document-id'),
      status: target.getAttribute('data-status'),
    }, function() { location.reload() });
  });

  $('.audit-btn').click(function(event) {
    var jarbasUrl = event.target.parentElement.parentElement.querySelector('a').getAttribute('href');
    window.open(jarbasUrl, '_blank').focus();
  });
</script>
</html>
